SQLAlchemy==2.0.35
python-dotenv==1.0.1
httpx==0.27.2
mpmath==1.3.0
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cublas-cu12==12.4.5.8
opentelemetry-api==1.41.0
tensorrt_cu13==10.16.0.72
backoff==2.2.1
opentelemetry-sdk==1.41.0
nvidia-cudnn-cu13==9.19.0.56
cuda-pathfinder==1.5.1
email_validator==2.2.0
protobuf==6.33.6
Mako==1.3.10
wrapt==1.17.3
tensorrt==10.16.0.72
llvmlite==0.47.0
nvidia-cuda-nvrtc==13.0.88
googleapis-common-protos==1.74.0
fsspec==2026.2.0
openai==2.32.0
markdown-it-py==4.0.0
tensorrt_cu13_libs==10.16.0.72
onnxruntime-gpu==1.23.2
tqdm==4.67.3
typing-inspection==0.4.2
nvidia-tensorrt==99.0.0
nvidia-cuda-cupti-cu12==12.4.127
gitdb==4.0.12
Jinja2==3.1.6
pillow==10.4.0
opentelemetry-proto==1.41.0
pyasn1==0.6.3
opencv-python-headless==4.11.0.86
anyio==4.13.0
pycuda==2026.1
sniffio==1.3.1
typing_extensions==4.15.0
opentelemetry-semantic-conventions==0.62b0
nvidia-nvtx-cu12==12.4.127
huggingface_hub==1.10.2
exceptiongroup==1.3.1
tzdata==2026.1
nvidia-cufft==12.0.0.61
tzlocal==5.3.1
greenlet==3.4.0
certifi==2026.2.25
nvidia-nvshmem-cu13==3.4.5
transformers==5.5.4
jsonschema-specifications==2025.9.1
typer==0.24.1
nvidia-cusparse-cu12==12.3.1.170
tokenizers==0.22.2
pydantic_core==2.23.2
flatbuffers==25.12.19
rpds-py==0.30.0
humanfriendly==10.0
pytools==2025.2.5
rembg==2.0.69
uvicorn==0.30.0
nvidia-cuda-nvrtc-cu12==12.4.127
idna==3.11
nvidia-nvjitlink==13.0.88
coloredlogs==15.0.1
cuda-bindings==13.2.0
smmap==5.0.3
regex==2026.4.4
nvidia-nvtx==13.0.85
h11==0.16.0
dnspython==2.8.0
distro==1.9.0
nvidia-cublas==13.1.0.3
lazy-loader==0.5
nvidia-nccl-cu13==2.28.9
ecdsa==0.19.2
nvidia-cuda-cupti==13.0.85
accelerate==1.13.0
optimum==2.1.0
pooch==1.9.0
pip==26.0.1
nvidia-cusparselt-cu13==0.8.0
torchaudio==2.6.0
filelock==3.25.2
urllib3==2.6.3
cryptography==43.0.3
langfuse==4.3.1
six==1.17.0
shellingham==1.5.4
wandb==0.26.0
scikit-image==0.25.2
safetensors==0.7.0
jsonschema==4.26.0
packaging==26.1
nvidia-curand-cu12==10.3.5.147
nvidia-cufft-cu12==11.2.1.3
mdurl==0.1.2
rich==15.0.0
rsa==4.9.1
setuptools==81.0.0
passlib==1.7.4
opentelemetry-exporter-otlp-proto-common==1.41.0
httpcore==1.0.9
bcrypt==4.2.0
hf-xet==1.4.3
PyYAML==6.0.3
python-jose==3.3.0
onnxruntime==1.23.2
attrs==26.1.0
torchvision==0.21.0
importlib_metadata==8.7.1
numpy==2.2.6
referencing==0.37.0
annotated-types==0.7.0
nvidia-cusparselt-cu12==0.6.2
GitPython==3.1.46
networkx==3.4.2
cuda-toolkit==13.0.2
torch==2.6.0
nvidia-curand==10.4.0.35
starlette==0.38.6
platformdirs==4.9.6
tensorrt_cu13_bindings==10.16.0.72
psutil==7.2.2
Pygments==2.20.0
opentelemetry-exporter-otlp-proto-http==1.41.0
annotated-doc==0.0.4
numba==0.65.0
zipp==3.23.1
sympy==1.13.1
jiter==0.14.0
cffi==2.0.0
PyMySQL==1.1.1
triton==3.2.0
nvidia-cufile==1.15.1.6
click==8.3.2
ml_dtypes==0.5.4
APScheduler==3.11.2
pydantic==2.9.0
MarkupSafe==3.0.3
requests==2.32.3
nvidia-cusolver==12.0.4.66
scipy==1.15.3
PyMatting==1.1.15
python-multipart==0.0.9
nvidia-nvjitlink-cu12==12.4.127
tifffile==2025.5.10
ImageIO==2.37.3
nvidia-cusolver-cu12==11.6.1.9
sentry-sdk==2.58.0
onnx==1.21.0
nvidia-cusparse==12.6.3.3
nvidia-cudnn-cu12==9.1.0.70
pycparser==3.0
fastapi==0.115.0
nvidia-nccl-cu12==2.21.5
charset-normalizer==3.4.7
siphash24==1.8
nvidia-cuda-runtime==13.0.96
diffusers==0.37.1
